body {
    background-color: #6B98D6;
}

main {
    height: 200px;
}

div {
    background-color: #006AFF;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
}

div > .fantasma {
    display: none;
}

div:hover > .fantasma {
    display: block;
}

div:hover {
    background-color: #4F76AE;
}